/*

CSS Reset by Eric Meyer (with some modifications)
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
:focus { outline: 0; }
body { line-height: 1; color: #000; background: #fff; }
ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
textarea { font: 1.1em "lucida sans", "lucida sans unicode", lucida, verdana, sans-serif; width:100%; }

.clear { clear: both; display: block; overflow: hidden; width: 0; height: 0; }
.overclear { width: 100%; overflow: hidden; }
